## Atlantic Storm Category allocation

In [299]:
import pandas as pd
import numpy as np

In [300]:
df = pd.read_csv("atlantic_storms_trans_bearing.csv",parse_dates=['date'], index_col=[0])

In [301]:
df.head()

,index,id,name,date,record_identifier,status_of_system,latitude,longitude,maximum_sustained_wind_knots,maximum_pressure,...,64_kt_ne,64_kt_se,64_kt_sw,64_kt_nw,distance,speed,geodesic_distance,speed_geodesic,bearing,category
0,0,AL011851,UNNAMED,1851-06-25 00:00:00,NaN,HU,28.0,-94.8,80,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,270.140842,0.0
1,1,AL011851,UNNAMED,1851-06-25 06:00:00,NaN,HU,28.0,-95.4,80,NaN,...,NaN,NaN,NaN,NaN,58.907516,9.817919,59.017061,9.836177,270.140842,0.0
2,2,AL011851,UNNAMED,1851-06-25 12:00:00,NaN,HU,28.0,-96.0,80,NaN,...,NaN,NaN,NaN,NaN,58.907516,9.817919,59.017061,9.836177,282.886140,0.0
3,3,AL011851,UNNAMED,1851-06-25 18:00:00,NaN,HU,28.1,-96.5,80,NaN,...,NaN,NaN,NaN,NaN,50.310977,8.385163,50.391833,8.398639,290.779865,0.0
4,4,AL011851,UNNAMED,1851-06-25 21:00:00,L,HU,28.2,-96.8,80,NaN,...,NaN,NaN,NaN,NaN,31.444370,5.240728,31.482588,5.247098,270.047255,0.0

### Adding the Hurricane Category

In [302]:
#Add a new column in our dataframe df named Category
df['category'] = np.nan
for i in df.index:
    if ((df.maximum_sustained_wind_knots.iloc[i]>=64) and (df.maximum_sustained_wind_knots.iloc[i]<= 82) ):
        df.at[i,'category'] = int(1)
    if ((df.maximum_sustained_wind_knots.iloc[i]>=83) and (df.maximum_sustained_wind_knots.iloc[i]<=95) ):
        df.at[i,'category'] = int(2)
    if ((df.maximum_sustained_wind_knots.iloc[i]>=96) and (df.maximum_sustained_wind_knots.iloc[i]<=112) ):   
        df.at[i,'category'] = int(3)
    if ((df.maximum_sustained_wind_knots.iloc[i]>=113) and (df.maximum_sustained_wind_knots.iloc[i]<=136) ):
        df.at[i,'category'] = int(4)
    if (df.maximum_sustained_wind_knots.iloc[i]>=137):
        df.at[i,'category'] = int(5)  
    else:
        df.at[i,'category'] = int(0)

In [303]:
df.to_csv('C:\\Users\\Patri\\polybox\\Columbia Academics\\Python Programming\\Hurricane Analysis\\atlantic_storms_trans_bearing.csv', encoding='utf-8')