In [2]:
import pandas as pd
import numpy as np
import xarray as xr

In [6]:
df2 = xr.open_dataset('https://www.nhc.noaa.gov/data/hurdat/hurdat2-1851-2019-042820.txt')

OSError: [Errno -90] NetCDF: file not found: b'https://www.nhc.noaa.gov/data/hurdat/hurdat2-1851-2019-042820.txt'

In [3]:
#! wget https://www.nhc.noaa.gov/data/hurdat/hurdat2-1851-2019-042820.txt

In [4]:
#! wget https://raw.githubusercontent.com/ResidentMario/hurdat2/master/data/atlantic_storms.csv

In [77]:
df = pd.read_csv('hurdat2-1851-2019-042820.txt')
df.head(20)

                                                                                                                                      AL011851  \
18510625  0000                        HU  28.0N   94.8W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
          0600                        HU  28.0N   95.4W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
          1200                        HU  28.0N   96.0W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
          1800                        HU  28.1N   96.5W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
          2100                L       HU  28.2N   96.8W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
18510626  0000                        HU  28.2N   97.0W 70.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
          0600                        TS  28.3N   97.6W 60.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
          1200                        TS  28.4N   98.3W 60.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
          1800                        TS  28.6N   98.9W 50.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
18510627  0000                        TS  29.0N   99.4W 50.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
          0600                        TS  29.5N   99.8W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
          1200                        TS  30.0N  100.0W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
          1800                        TS  30.5N  100.1W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
18510628  0000                        TS  31.0N  100.2W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
AL021851             UNNAMED       1 NaN NaN    NaN     NaN   NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN          NaN
18510705  1200                        HU  22.2N   97.6W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
AL031851             UNNAMED       1 NaN NaN    NaN     NaN   NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN          NaN
18510710  1200                        TS  12.0N   60.0W 50.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0
AL041851             UNNAMED      49 NaN NaN    NaN     NaN   NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN          NaN
18510816  0000                        TS  13.4N   48.0W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0    -999.0

                                                                                                                                                  UNNAMED  \
18510625  0000                        HU  28.0N   94.8W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
          0600                        HU  28.0N   95.4W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
          1200                        HU  28.0N   96.0W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
          1800                        HU  28.1N   96.5W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
          2100                L       HU  28.2N   96.8W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
18510626  0000                        HU  28.2N   97.0W 70.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
          0600                        TS  28.3N   97.6W 60.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
          1200                        TS  28.4N   98.3W 60.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
          1800                        TS  28.6N   98.9W 50.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
18510627  0000                        TS  29.0N   99.4W 50.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
          0600                        TS  29.5N   99.8W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
          1200                        TS  30.0N  100.0W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
          1800                        TS  30.5N  100.1W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
18510628  0000                        TS  31.0N  100.2W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
AL021851             UNNAMED       1 NaN NaN    NaN     NaN   NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN                     NaN
18510705  1200                        HU  22.2N   97.6W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
AL031851             UNNAMED       1 NaN NaN    NaN     NaN   NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN                     NaN
18510710  1200                        TS  12.0N   60.0W 50.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0
AL041851             UNNAMED      49 NaN NaN    NaN     NaN   NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN                     NaN
18510816  0000                        TS  13.4N   48.0W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0               -999.0

                                                                                                                                           14  \
18510625  0000                        HU  28.0N   94.8W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
          0600                        HU  28.0N   95.4W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
          1200                        HU  28.0N   96.0W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
          1800                        HU  28.1N   96.5W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
          2100                L       HU  28.2N   96.8W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
18510626  0000                        HU  28.2N   97.0W 70.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
          0600                        TS  28.3N   97.6W 60.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
          1200                        TS  28.4N   98.3W 60.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
          1800                        TS  28.6N   98.9W 50.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
18510627  0000                        TS  29.0N   99.4W 50.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
          0600                        TS  29.5N   99.8W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
          1200                        TS  30.0N  100.0W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
          1800                        TS  30.5N  100.1W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
18510628  0000                        TS  31.0N  100.2W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
AL021851             UNNAMED       1 NaN NaN    NaN     NaN   NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN         NaN
18510705  1200                        HU  22.2N   97.6W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
AL031851             UNNAMED       1 NaN NaN    NaN     NaN   NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN         NaN
18510710  1200                        TS  12.0N   60.0W 50.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0
AL041851             UNNAMED      49 NaN NaN    NaN     NaN   NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN         NaN
18510816  0000                        TS  13.4N   48.0W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0   -999.0

                                                                                                                                     Unnamed: 3
18510625  0000                        HU  28.0N   94.8W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
          0600                        HU  28.0N   95.4W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
          1200                        HU  28.0N   96.0W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
          1800                        HU  28.1N   96.5W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
          2100                L       HU  28.2N   96.8W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
18510626  0000                        HU  28.2N   97.0W 70.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
          0600                        TS  28.3N   97.6W 60.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
          1200                        TS  28.4N   98.3W 60.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
          1800                        TS  28.6N   98.9W 50.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
18510627  0000                        TS  29.0N   99.4W 50.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
          0600                        TS  29.5N   99.8W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
          1200                        TS  30.0N  100.0W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
          1800                        TS  30.5N  100.1W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
18510628  0000                        TS  31.0N  100.2W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
AL021851             UNNAMED       1 NaN NaN    NaN     NaN   NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN           NaN
18510705  1200                        HU  22.2N   97.6W 80.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
AL031851             UNNAMED       1 NaN NaN    NaN     NaN   NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN           NaN
18510710  1200                        TS  12.0N   60.0W 50.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN
AL041851             UNNAMED      49 NaN NaN    NaN     NaN   NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN           NaN
18510816  0000                        TS  13.4N   48.0W 40.0  -999.0  -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0 -999.0        NaN

In [55]:
import requests
atlantic_raw = requests.get("https://www.nhc.noaa.gov/data/hurdat/hurdat2-1851-2019-042820.txt")
atlantic_raw.raise_for_status()
#atlantic_raw.text

In [56]:
import io
from collections import Counter

c = Counter()
for line in io.StringIO(atlantic_raw.text).readlines():
    c[line[:2]] += 1
c # seeing how many hurricanes there were and how many observations we had each century.

Counter({'AL': 1894, '18': 9228, '19': 32376, '20': 10249})

In [57]:
c['18']+c['19']+c['20']

51853

In [58]:
import io

#Creating a dictionary object for each hurricane and putting all of the dict objects into a list.
atlantic_storms_r = []
atlantic_storm_r = {'header': None, 'data': []}


for i, line in enumerate(io.StringIO(atlantic_raw.text).readlines()):
    if line[:2] == 'AL':
        
        atlantic_storm_r['header'] = line
        atlantic_storm_r['data'] = []
        atlantic_storms_r.append(atlantic_storm_r.copy())
    else:
        atlantic_storm_r['data'].append(line)

#atlantic_storms_r = atlantic_storms_r[1:]
atlantic_storms_r[0:1] #Checking the output

[{'header': 'AL011851,            UNNAMED,     14,\n',
  'data': ['18510625, 0000,  , HU, 28.0N,  94.8W,  80, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
   '18510625, 0600,  , HU, 28.0N,  95.4W,  80, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
   '18510625, 1200,  , HU, 28.0N,  96.0W,  80, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
   '18510625, 1800,  , HU, 28.1N,  96.5W,  80, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
   '18510625, 2100, L, HU, 28.2N,  96.8W,  80, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
   '18510626, 0000,  , HU, 28.2N,  97.0W,  70, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
   '18510626, 0600,  , TS, 28.3N,  97.6W,  60, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
   '18510626, 1200,  , TS, 28.4N,  98.3W,  60, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
   '18510626, 1800,  , TS, 28.6N,  98.9W,  50, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
   '18510627, 0000,  , TS, 29.0N,  99.4W,  50, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
   '18510627, 0600,  , TS, 29.5N,  99.8W,  40, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
   '18510627, 1200,  , TS, 30.0N, 100.0W,  40, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
   '18510627, 1800,  , TS, 30.5N, 100.1W,  40, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n',
   '18510628, 0000,  , TS, 31.0N, 100.2W,  40, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999, -999,\n']}]

In [59]:
len(atlantic_storms_r) #seeing how many hurricanes we had

1894

In [60]:
atlantic_storms_r[-1] #checking the most recent hurricane

{'header': 'AL202019,          SEBASTIEN,     34,\n',
 'data': ['20191119, 0600,  , TS, 19.4N,  58.1W,  35, 1006,   90,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,\n',
  '20191119, 1200,  , TS, 19.9N,  58.5W,  40, 1004,   90,  120,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,\n',
  '20191119, 1800,  , TS, 20.3N,  59.4W,  40, 1004,   90,  140,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,\n',
  '20191120, 0000,  , TS, 20.4N,  60.3W,  40, 1002,   90,  140,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,\n',
  '20191120, 0600,  , TS, 20.5N,  61.0W,  45, 1000,   90,  140,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,\n',
  '20191120, 1200,  , TS, 20.8N,  61.7W,  45,  999,  100,  140,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,\n',
  '20191120, 1800,  , TS, 21.3N,  61.7W,  45,  999,  100,  140,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,\n',
  '20191121, 0000,  , TS, 21.9N,  61.7W,  50,  996,  120,  140,    0,    0,    0,   80,    0,    0,    0,    0,    0,    0,\n',
  '20191121, 0600,  , TS, 22.4N,  61.4W,  50,  996,  120,  140,    0,    0,    0,   80,    0,    0,    0,    0,    0,    0,\n',
  '20191121, 1200,  , TS, 22.9N,  60.9W,  50,  996,  120,  140,    0,    0,    0,   80,    0,    0,    0,    0,    0,    0,\n',
  '20191121, 1800,  , TS, 23.5N,  60.1W,  50,  996,  120,  140,    0,    0,    0,   80,    0,    0,    0,    0,    0,    0,\n',
  '20191122, 0000,  , TS, 24.2N,  58.8W,  50,  996,  120,  140,   50,   80,    0,   60,    0,    0,    0,    0,    0,    0,\n',
  '20191122, 0600,  , TS, 24.5N,  57.3W,  50,  996,  120,  120,   50,   80,    0,   60,    0,    0,    0,    0,    0,    0,\n',
  '20191122, 1200,  , TS, 25.0N,  55.8W,  50,  996,   90,   90,   60,  100,   30,   40,    0,    0,    0,    0,    0,    0,\n',
  '20191122, 1800,  , TS, 25.8N,  54.4W,  55,  994,   90,   90,   60,  100,   30,   40,    0,   30,    0,    0,    0,    0,\n',
  '20191123, 0000,  , TS, 26.7N,  52.6W,  60,  991,   90,   90,   60,  100,   40,   40,   30,   40,    0,    0,    0,    0,\n',
  '20191123, 0600,  , TS, 28.1N,  50.5W,  60,  991,   90,   90,   60,  100,   40,   40,   30,   40,    0,    0,    0,    0,\n',
  '20191123, 1200,  , TS, 29.6N,  48.4W,  55,  994,   80,   90,   50,   80,   30,   30,   20,   30,    0,    0,    0,    0,\n',
  '20191123, 1800,  , TS, 31.5N,  46.4W,  55,  994,   80,   80,   50,   60,   30,   30,    0,    0,    0,    0,    0,    0,\n',
  '20191124, 0000,  , TS, 33.5N,  44.4W,  55,  994,   80,   80,   50,   60,   30,   30,    0,    0,    0,    0,    0,    0,\n',
  '20191124, 0600,  , TS, 35.2N,  41.7W,  55,  994,   90,  100,   60,   60,   30,   30,    0,    0,    0,    0,    0,    0,\n',
  '20191124, 1200,  , TS, 36.6N,  38.5W,  55,  994,  120,  120,   90,   90,   40,   40,    0,    0,    0,    0,    0,    0,\n',
  '20191124, 1800,  , TS, 38.2N,  34.7W,  55,  994,  140,  140,  120,  120,   40,   50,   40,   30,    0,    0,    0,    0,\n',
  '20191125, 0000,  , EX, 40.0N,  30.9W,  55,  992,  150,  160,  160,  120,   40,   60,   40,   40,    0,    0,    0,    0,\n',
  '20191125, 0600,  , EX, 41.9N,  26.7W,  60,  988,  150,  180,  180,  120,   50,   80,   50,   50,    0,    0,    0,    0,\n',
  '20191125, 1200,  , EX, 44.0N,  22.0W,  60,  982,  150,  220,  200,  120,   50,  160,   60,   50,    0,    0,    0,    0,\n',
  '20191125, 1800,  , EX, 46.4N,  16.3W,  60,  978,  120,  220,  200,   80,    0,  160,  100,    0,    0,    0,    0,    0,\n',
  '20191126, 0000,  , EX, 48.8N,  12.2W,  55,  974,   90,  220,  180,   80,    0,  100,    0,    0,    0,    0,    0,    0,\n',
  '20191126, 0600,  , EX, 51.3N,   9.3W,  50,  972,   90,  220,  150,   90,    0,  100,    0,    0,    0,    0,    0,    0,\n',
  '20191126, 1200,  , EX, 52.2N,   9.3W,  45,  970,   90,  240,  120,   90,    0,    0,    0,    0,    0,    0,    0,    0,\n',
  '20191126, 1800,  , EX, 52.2N,   8.9W,  40,  972,   90,  240,   90,   90,    0,    0,    0,    0,    0,    0,    0,    0,\n',
  '20191127, 0000,  , EX, 51.8N,   8.2W,  40,  974,    0,  210,   90,    0,    0,    0,    0,    0,    0,    0,    0,    0,\n',
  '20191127, 0600,  , EX, 51.4N,   6.0W,  40,  976,    0,  180,   90,    0,    0,    0,    0,    0,    0,    0,    0,    0,\n',
  '20191127, 1200,  , EX, 51.3N,   2.1W,  40,  980,    0,  120,   90,    0,    0,    0,    0,    0,    0,    0,    0,    0,\n']}

# Next part: transform the list into a panda dataframe

In [61]:
import pandas as pd

atlantic_storm_dfs = []
for storm_dict in atlantic_storms_r:
    storm_id, storm_name, storm_entries_n = storm_dict['header'].split(",")[:3]
    # remove hanging newline ('\n'), split fields
    data = [[entry.strip() for entry in datum[:-1].split(",")] for datum in storm_dict['data']]
    frame = pd.DataFrame(data)
    frame['id'] = storm_id
    frame['name'] = storm_name
    atlantic_storm_dfs.append(frame)

In [62]:
print(len(atlantic_storm_dfs))
atlantic_storm_dfs[1]

1894

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,id,name
0,18510705,1200,,HU,22.2N,97.6W,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,,AL021851,UNNAMED

In [63]:
atlantic_storms = pd.concat(atlantic_storm_dfs)
len(atlantic_storms)

51853

## Setting Columns

In [64]:
atlantic_storms = atlantic_storms.reindex(columns=atlantic_storms.columns[-2:] | atlantic_storms.columns[:-2])
atlantic_storms.head()

,id,name,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,AL011851,UNNAMED,18510625,0000,,HU,28.0N,94.8W,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,
1,AL011851,UNNAMED,18510625,0600,,HU,28.0N,95.4W,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,

In [65]:
atlantic_storms.columns

Index([  'id', 'name',      0,      1,      2,      3,      4,      5,      6,
            7,      8,      9,     10,     11,     12,     13,     14,     15,
           16,     17,     18,     19,     20],
      dtype='object')

### Those column names can be improved upon.

In [66]:
atlantic_storms.columns = [
        "id",
        "name",
        "date",
        "hours_minutes",
        "record_identifier",
        "status_of_system",
        "latitude",
        "longitude",
        "maximum_sustained_wind_knots",
        "maximum_pressure",
        "34_kt_ne",
        "34_kt_se",
        "34_kt_sw",
        "34_kt_nw",
        "50_kt_ne",
        "50_kt_se",
        "50_kt_sw",
        "50_kt_nw",
        "64_kt_ne",
        "64_kt_se",
        "64_kt_sw",
        "64_kt_nw",
        "na"
]
atlantic_storms.columns

Index(['id', 'name', 'date', 'hours_minutes', 'record_identifier',
       'status_of_system', 'latitude', 'longitude',
       'maximum_sustained_wind_knots', 'maximum_pressure', '34_kt_ne',
       '34_kt_se', '34_kt_sw', '34_kt_nw', '50_kt_ne', '50_kt_se', '50_kt_sw',
       '50_kt_nw', '64_kt_ne', '64_kt_se', '64_kt_sw', '64_kt_nw', 'na'],
      dtype='object')

In [67]:
del atlantic_storms['na']

In [68]:
atlantic_storms.columns

Index(['id', 'name', 'date', 'hours_minutes', 'record_identifier',
       'status_of_system', 'latitude', 'longitude',
       'maximum_sustained_wind_knots', 'maximum_pressure', '34_kt_ne',
       '34_kt_se', '34_kt_sw', '34_kt_nw', '50_kt_ne', '50_kt_se', '50_kt_sw',
       '50_kt_nw', '64_kt_ne', '64_kt_se', '64_kt_sw', '64_kt_nw'],
      dtype='object')

In [69]:
pd.set_option("max_columns", None)

In [70]:
atlantic_storms.head()

,id,name,date,hours_minutes,record_identifier,status_of_system,latitude,longitude,maximum_sustained_wind_knots,maximum_pressure,34_kt_ne,34_kt_se,34_kt_sw,34_kt_nw,50_kt_ne,50_kt_se,50_kt_sw,50_kt_nw,64_kt_ne,64_kt_se,64_kt_sw,64_kt_nw
0,AL011851,UNNAMED,18510625,0000,,HU,28.0N,94.8W,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,0600,,HU,28.0N,95.4W,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

## Inserting sentinels

-999 is used as a sentinel value for old data for which that data point is actually unknown. It'd be better to pass those as blank lines (e.g. ,,) instead, so let's fill them in thusly.

In [71]:
atlantic_storms.iloc[0]['34_kt_sw']

'-999'

In [72]:
import numpy as np
atlantic_storms = atlantic_storms.replace(to_replace='-999', value=np.nan)

In [73]:
atlantic_storms.dtypes

id                              object
name                            object
date                            object
hours_minutes                   object
record_identifier               object
status_of_system                object
latitude                        object
longitude                       object
maximum_sustained_wind_knots    object
maximum_pressure                object
34_kt_ne                        object
34_kt_se                        object
34_kt_sw                        object
34_kt_nw                        object
50_kt_ne                        object
50_kt_se                        object
50_kt_sw                        object
50_kt_nw                        object
64_kt_ne                        object
64_kt_se                        object
64_kt_sw                        object
64_kt_nw                        object
dtype: object

In [74]:
atlantic_storms.iloc[0]['record_identifier']

''

In [75]:
atlantic_storms['record_identifier'].value_counts()

     50767
L     1014
I       29
P       10
T        9
S        8
R        6
C        5
W        4
G        1
Name: record_identifier, dtype: int64

In [78]:
atlantic_storms = atlantic_storms.replace(to_replace="", value=np.nan)

In [79]:
atlantic_storms['record_identifier'].value_counts(dropna=False)

NaN    50767
L       1014
I         29
P         10
T          9
S          8
R          6
C          5
W          4
G          1
Name: record_identifier, dtype: int64

In [80]:
atlantic_storms.head()

,id,name,date,hours_minutes,record_identifier,status_of_system,latitude,longitude,maximum_sustained_wind_knots,maximum_pressure,34_kt_ne,34_kt_se,34_kt_sw,34_kt_nw,50_kt_ne,50_kt_se,50_kt_sw,50_kt_nw,64_kt_ne,64_kt_se,64_kt_sw,64_kt_nw
0,AL011851,UNNAMED,18510625,0000,NaN,HU,28.0N,94.8W,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL011851,UNNAMED,18510625,0600,NaN,HU,28.0N,95.4W,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL011851,UNNAMED,18510625,1200,NaN,HU,28.0N,96.0W,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL011851,UNNAMED,18510625,1800,NaN,HU,28.1N,96.5W,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Datafying Columns

Some of the columns could be better formatted.

To start with, the latitude and longitude include N and W indicators, which we don't really want. We can just use negatives to indicate S and W (we'll upconvert dtype later).

In [81]:
atlantic_storms['latitude'] = atlantic_storms['latitude'].map(lambda lat: lat[:-1] if lat[-1] == "N" else -lat[:-1])
atlantic_storms['longitude']= atlantic_storms['longitude'].map(lambda long: long[:-1] if long[-1] == "E" else "-"+ long[:-1])

In [82]:
atlantic_storms.head()

,id,name,date,hours_minutes,record_identifier,status_of_system,latitude,longitude,maximum_sustained_wind_knots,maximum_pressure,34_kt_ne,34_kt_se,34_kt_sw,34_kt_nw,50_kt_ne,50_kt_se,50_kt_sw,50_kt_nw,64_kt_ne,64_kt_se,64_kt_sw,64_kt_nw
0,AL011851,UNNAMED,18510625,0000,NaN,HU,28.0,-94.8,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL011851,UNNAMED,18510625,0600,NaN,HU,28.0,-95.4,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL011851,UNNAMED,18510625,1200,NaN,HU,28.0,-96.0,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL011851,UNNAMED,18510625,1800,NaN,HU,28.1,-96.5,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2,-96.8,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


Next let's store the date in a more standard format. Output to ISO 8601 is automatically covered when we convert a column to datetime dtype.

In [83]:
atlantic_storms['date'] = pd.to_datetime(atlantic_storms['date'])

In [84]:

atlantic_storms['date'] = atlantic_storms\
    .apply(
        lambda srs: srs['date'].replace(hour=int(srs['hours_minutes'][:2]), minute=int(srs['hours_minutes'][2:])), 
        axis='columns'
    )

In [85]:
atlantic_storms.head()

,id,name,date,hours_minutes,record_identifier,status_of_system,latitude,longitude,maximum_sustained_wind_knots,maximum_pressure,34_kt_ne,34_kt_se,34_kt_sw,34_kt_nw,50_kt_ne,50_kt_se,50_kt_sw,50_kt_nw,64_kt_ne,64_kt_se,64_kt_sw,64_kt_nw
0,AL011851,UNNAMED,1851-06-25 00:00:00,0000,NaN,HU,28.0,-94.8,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL011851,UNNAMED,1851-06-25 06:00:00,0600,NaN,HU,28.0,-95.4,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL011851,UNNAMED,1851-06-25 12:00:00,1200,NaN,HU,28.0,-96.0,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL011851,UNNAMED,1851-06-25 18:00:00,1800,NaN,HU,28.1,-96.5,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL011851,UNNAMED,1851-06-25 21:00:00,2100,L,HU,28.2,-96.8,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
del atlantic_storms['hours_minutes']

In [87]:
atlantic_storms.head()

,id,name,date,record_identifier,status_of_system,latitude,longitude,maximum_sustained_wind_knots,maximum_pressure,34_kt_ne,34_kt_se,34_kt_sw,34_kt_nw,50_kt_ne,50_kt_se,50_kt_sw,50_kt_nw,64_kt_ne,64_kt_se,64_kt_sw,64_kt_nw
0,AL011851,UNNAMED,1851-06-25 00:00:00,NaN,HU,28.0,-94.8,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL011851,UNNAMED,1851-06-25 06:00:00,NaN,HU,28.0,-95.4,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL011851,UNNAMED,1851-06-25 12:00:00,NaN,HU,28.0,-96.0,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL011851,UNNAMED,1851-06-25 18:00:00,NaN,HU,28.1,-96.5,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL011851,UNNAMED,1851-06-25 21:00:00,L,HU,28.2,-96.8,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Final fixes

In [88]:
atlantic_storms['name'].iloc[0]

'            UNNAMED'

In [89]:
atlantic_storms['name'] = atlantic_storms['name'].map(lambda n: n.strip())

In [90]:
atlantic_storms['name'].iloc[0]

'UNNAMED'

Reindex and attach a name to the index

In [91]:
atlantic_storms.index = range(len(atlantic_storms.index))
atlantic_storms.index.name = "index"

## Generate a .csv file for the data

In [93]:
atlantic_storms.to_csv('C:\\Users\\Patri\\polybox\\Columbia Academics\\Python Programming\\Hurricane Analysis\\atlantic_storms.csv', encoding='utf-8')

In [43]:
import os
os.getcwd()

'C:\\Users\\Patri\\polybox\\Columbia Academics\\Python Programming\\Hurricane Analysis'